@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer base{
    .section{
      @apply py-[75px]
    } 
   }
  @layer components{
    .container{
      @apply max-w-full w-[1440px] px-5 mx-auto 
    }
    .btn{
      @apply bg-primaryColor
    }
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
   */